html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: auto;
}


@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/public/DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
  font-family: "Space Mono", monospace;
  src: url('/public/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}




@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  border-radius: 1px;
  animation: textShadow 1.6s infinite;
  /* height: 415px; */
  /* width: 525px; */
  width: 65vh;
  /* height: 100vh; */
  border-radius: 5px solid 'red';
  position: absolute;
  touch-action: auto;
  z-index: 100;
}

.content
{
  overflow: scroll;
  overflow-x: hidden;
  height: 48vh;
}
  @media only screen and (max-width: 600px) {
    .crt {
      height: 39vh;
      width: 50vh;
      overflow: scroll;
    }
  }

.content-about
{
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
}
  @media only screen and (max-width: 600px) {
    .crt {
      height: 39vh;
      width: 52vh;
      overflow: scroll;
    }
  }

  
.text
{
    color: #8ae234;
    font-size: 14px;
    font-family: 'DejaVu Sans Mono', monospace;
    cursor: pointer;
    width: fit-content;
   
}

.highlighted 
{
    color: #34e2e2; /* or any other style to highlight the text */
    background-color: #4e9a06;
    max-width: fit-content;
    border-radius: 1px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0%, 50% { background-color: #4e9a06; }
  51%, 100% { background-color: transparent; }
}

.smallText
{
  color: #729fcf;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  padding-left: 25px;
  margin-right: 20px;

}

@media only screen and (max-width: 600px) {
  .smallText {
      font-size: 8px;
  }
}

.header
{
  color: #729fcf;
  font-family: monospace;
  font-size: 18px;
  white-space: pre;
  
}

.position
{
  color: #729fcf;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .position {
      font-size: 10px;
  }
}
.date
{
  font-size: 10px;
}
@media only screen and (max-width: 600px) {
  .date {
      font-size: 8px;
  }
}

.company
{
  font-size: 14px;
  
  color: #729fcf;
}
@media only screen and (max-width: 600px) {
  .company {
      font-size: 8px;
  }
}

.card
{
  border: #4e9a06 2px solid;
  padding: 10px;
  margin-top: 7px;
}

.card-title
{
  font-size: 20px;
}
.card-date
{
  font-size: 12px;
}
.card-content
{
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .card-content {
      font-size: 10px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-date {
    font-size: 8px;
  }
}

.projectText
{
  color: #729fcf;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  margin-left: 10px;
}

.team
{
  color: #729fcf;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 12px;
  margin-left: 10px;
}

.title 
{
  color: #8ae234;
  font-family: 'DejaVu Sans Mono', monospace;
  padding-left: 10px;
}

.goals
{
  color: #8ae234;
  font-family: 'DejaVu Sans Mono', monospace;
  padding-left: 10px;
}

.goals-list
{
  color: #8ae234;
  font-family: 'DejaVu Sans Mono', monospace;
  padding-left: 20px;
}

.about-text
{
  color: #729fcf;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  margin-left: 10px;
}

.stacked-text span {
  display: block;
  line-height: 1; /* Adjust this value as needed */
  color: yellow;
  font-size: 20px;
}

.interests
{
  margin: -20px;
  color: yellow;
  text-decoration: underline;
}

.NavBar
{
  border: 0px solid #8ae234;
  width: 100%;
  height: fit-content;
}


.NavBtn {
  text-transform: uppercase;
  height: 20px;
 
 
} 
 
.NavBtn:hover .NavBtn-slide-show-text1 {
  /* margin-left: 65px; */
} 
 
.NavBtn-shadow-drop {
  position: relative;
  /* margin-top: 10%; */
  background: rgb(249, 250, 250);

  /* padding: 20px; */
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
  left: 0px;
  top: 0px;
  width: 50%;
  /* text-decoration:  underline #8ae234 2px; */
  
} 
 
.NavBtn-shadow-drop:hover {
  left: 2px;
  top: 2px;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  background: #8ae234;
} 
 
.NavBtn-shadow-drop--black {
  border: 1px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
  box-shadow: rgb(51, 51, 51) 1px 1px 0px 0px;
} 

.globeCard {
  color: white;
  width: 180px;

  background-color: rgba(51, 52, 59, 0.5);
  border-radius: 4px;
  padding-left: 2px;
  font-family: 'Space Mono', monospace;
  padding-left: 5px;
  margin-left: 10px;
  padding-bottom: 5px;


}

.globeCardTitle{
  font-weight: 700;
  font-size: x-large;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.globeCardSubTitle{
  font-weight: 900;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 0px;
  
}
.globeFacts{
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: x-small;
}
 